@charset "UTF-8";

/*Estilos generales para todas las pantallas*/

body{
  font-family: Montserrat, Arial;
  background: #dfe2ec;
  text-decoration: none;
  color: #373a49;
  padding-top: 0;
}


/*Enlaces*/
a{
  text-decoration: none;
  border: none;
  color: inherit;
}
a img {
  border: none; /* Elimina bordes en navegadores más antiguos */
}


/*Estilos para h1-h6*/


/*p*/







/* Teléfonos */
@media (max-width: 480px) {
  /* Estilos para smartphones */
}

/* Tabletas */
@media (min-width: 600px) {
}

/* Laptops */
@media (min-width: 1024px) {
}

/* Escritorio grande */
@media (min-width: 1440px) {
}
