@charset "UTF-8";

/*Estilos generales para todas las pantallas*/

body{
  font-family: Montserrat, Arial;
  background: #fdfeff;
  text-decoration: none;
  color: #373a49;
  padding-top: 0;
}


/*Enlaces*/
a{
  text-decoration: none;
  border: none;
  color: inherit;
}
a img {
  border: none; /* Elimina bordes en navegadores más antiguos */
}


/*Estilos para h1-h6*/


/*p*/



/*Estilos index*/
.cont-logo-platillo {
  position: relative; /* Agregado */
  display: flex;
  width: 100%;
  height: 620px;
  margin: 0 auto;
}
        
.logo_frase {
  width: 52%;
}

.imagen_principal {
  overflow: hidden;
  position: relative;
  width: 48%;
  height: 100%;
  border-radius: 0 0 0 23px;
  /*z-index: -1;*/
}

.imagen_principal_movil {
  display: none;
}

.logo {
  text-align: center;
  width: 100%;
  margin-top: 5%;
  padding-right: 40%;
  padding-left: 10%;
}
.logo img {
  width: 320px;
}

.frasepublicitaria {
  width: 100%;
  font-size: 190%;
  padding: 0 0 5% 40%;
}


.circle {
  position: absolute;
  top: 100%;
  left: -250px; /* La mitad del ancho del círculo */
  width: 400px;
  height: 400px;
  background: linear-gradient(70deg, #ffd13c, #fed0a6, #fed0a6, #fe9e3e, #ffd13c);
  border-radius: 50%;
  transform: translateY(-50%);
  /*z-index: 0;*/
}

.btn_reservas {
  width: 32%;
  margin: 0% 38% 0% 30%;
  padding-top: 3%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn_reservas p{
  text-align: center;
  padding: 4% 2% 4% 2%;
  color: rgb(255, 94, 0);
  font-size: 145%;
  font-weight: bold;
  border-radius: 30px;
  border: 3px solid rgb(255, 94, 0);
}

.btn_reservas:hover{
    transform: scale(1.03);
}


.circle2 {
  position: absolute;
  
  top: -14%;
  right: -440px; /* La mitad del ancho del círculo */
  width: 700px;
  height: 700px;
  background: linear-gradient(50deg,#ffd13c, #fe9e3e, #fed0a6, #fed0a6,#ffd13c);
  border-radius: 50%;
  opacity: 0.95;
  transform: translateY(-50%);
  clip-path: inset(0 62.8% 0 0);
  /*z-index: 0;*/

}

/*PROMOCIONES*/

.linea-promociones{
    display: inline-block;
    border-bottom: 7px solid rgb(252, 248, 5);
    padding-bottom: 7px;


}

.titulo-sub-amarillo{         /** TEXTO PRINCIPAL AMARILLO CON NARANJITA**/
    color: #BF6710;
    font-size: 35px;
    margin: 15% 0 0 5%;
    letter-spacing: 2.5px;
}


.cont-text-sup{     /** TEXTO DE ARRIBA**/
    padding: 15px;
    width: 90%;
    margin:4% auto 2% auto;
    font-size: 20px;
    text-align : center;
}

.subrayado{
    
    display: inline-block;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 1px;
}

.cont-text-inf{   /** TEXTO DE ABAJO**/
    width: 90%;
    margin: 10px auto;
    font-size: 20px;
    text-align : center;
    padding: 2% 0 4% 0;
    opacity: 83%;
}
 

.contenedor-img-text{   /** CONTENDOR DE TEXTO E IMAGEN**/
    display: flex;
    width: 90%;
    gap: 2%;
    margin: 0 auto;
}

  

.cont-img-desayuno{       /** IMAGEN**/
    width: 50%;
    height: 350px;
    overflow: hidden;   
    /*z-index: -1;*/
    
}
.cont-img-desayuno img{
    background-color: red;
    width: 100%;   
}


.cont-menu-desayuno{                /** TEXTO DE MENU**/
    border: 1px solid black;
    border-radius: 30px;
    width: 50%;
    padding: 20px;             
  }
  
  .item {
    display: flex;            
    justify-content: space-between;
    align-items: center;
    
    text-align : center;
    padding: 6% 0 6% 0;  
    font-size: 20px;        
  }
  
  
  .flavor {
    text-align: left;
    width: 75%;
    padding-left: 10px;        
  }
  
  
  .price {
    text-align: right;
    width: 25%;
    padding-right: 10px;     
    color: #BF6710;  
  }






/*Carrusel */
* {
  box-sizing: border-box;
}
.carrusel_carreras {
  width: 80%;
  margin: 0 auto;  /* Centra el carrusel */
  padding: 0;
  
  /*z-index: 0;*/
}
.carrusel_portadas {
  width: 100%; /* Ajusta al tamaño del carrusel */
  margin-right: 10px;
  height: 500px;
  position: relative;
}
.carrusel_portadas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Elimina el espacio extra alrededor de la imagen */
  
}
/*fin carrucel carreras*/



/* Teléfonos */
@media (max-width: 540px) {
  /* Estilos para smartphones */


/*ESTILO IMGEN PRINCIPAL, LOGO, BOTÓN Y FRASE*/












.cont-logo-platillo {
    height: 80vh;
  }

.imagen_principal {
    display: none;
  }

  .imagen_principal_movil {
    margin-top: 13vh;
    display: block;
    position: absolute;
    z-index: 0;
  }

  .imagen_principal_movil img {
    height: 74vh;
    object-fit: cover;
  }



  .logo_frase {
    width: 100%;
    padding-top: 10%;
    z-index: 1;
    
  }

  .logo {
    padding: 0;
    width: 100%;
    margin-top: 12vh;
  }

  .logo img {
    width: 50%;
    
  }

  .frasepublicitaria {
    font-size: 150%;
    color: rgb(53, 53, 53); /* Asegúrate de que se vea sobre la imagen */
    padding-left: 10%;
    
  }
  .btn_reservas {
    width: 70%;
    margin: 10px auto;
  }

  .btn_reservas p {
    background: rgba(255, 255, 255, 0.6);
    font-size: 120%;
    
  }



















   .circle {
    display: none;
  }

.circle2 {
    display: none;
  }



  /*ESTILO PROMOCIONES*/
  .contenedor-img-text {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cont-menu-desayuno {
    width: 90%;
    margin-bottom: 5%;
  }

  .cont-img-desayuno {
    width: 100%;
    height: 200px; 
  }

  .item {
    padding: 5% 0 5% 0;
    font-size: 15px;        
  }
  .cont-text-sup{     /** TEXTO DE ARRIBA**/
    font-size: 17px;
}


.cont-text-inf{   /** TEXTO DE ABAJO**/
    font-size: 17px;
}
  
/*CARRUSEL*/
.carrusel_carreras {
  width: 90%;
}
.carrusel_portadas {
  height: 200px;
  margin-bottom: 3%;
}




}

/* Tabletas */
@media (min-width: 600px) {
}

/* Laptops */
@media (min-width: 1024px) {
}

/* Escritorio grande */
@media (min-width: 1440px) {
  /*
  .circle {
  top: 100%; 
  left: -15%; 
  width: 400px;
  height: 400px;
}*/
}
