@charset "UTF-8";

body {
    font-family: Montserrat,Arial;
    text-decoration:none;
    padding-top:0 ;
}


.linea-promociones{
    display: inline-block;
    border-bottom: 7px solid rgb(252, 248, 5);
    padding-bottom: 7px;


}

.titulo-sub-amarillo{         /** TEXTO PRINCIPAL AMARILLO CON NARANJITA**/
    color: #BF6710;
    font-size: 35px;
    margin: 0 0 -3% 5%;
    letter-spacing: 2.5px;
}


.cont-text-sup{     /** TEXTO DE ARRIBA**/
    padding: 15px;
    width: 90%;
    margin: 10px auto;
    font-size: 20px;
    text-align : center;
}

.subrayado{
    
    display: inline-block;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 1px;
}

.cont-text-inf{   /** TEXTO DE ABAJO**/
    width: 90%;
    margin: 10px auto;
    font-size: 20px;
    text-align : center;
    padding: 10px;
}
 

.contenedor-img-text{   /** CONTENDOR DE TEXTO E IMAGEN**/
    display: flex;
    width: 90%;
    gap: 2%;
    margin: 0 auto;
}

  

.cont-img-desayuno{       /** IMAGEN**/
    width: 50%;
    height: 350px;
    overflow: hidden;   
}
.cont-img-desayuno img{
    background-color: red;
    width: 100%;   
}


.cont-menu-desayuno{                /** TEXTO DE MENU**/
    border: 1px solid black;
    border-radius: 30px;
    width: 50%;
    padding: 20px;             
  }
  
  .item {
    display: flex;            
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;  
    font-size: 20px;        
  }
  
  
  .flavor {
    text-align: left;
    width: 75%;
    padding-left: 10px;        
  }
  
  
  .price {
    text-align: right;
    width: 25%;
    padding-right: 10px;     
    color: #BF6710;  
  }